<section>
  <div class="container">
    <div class="row">
      <a class="btn btn-outline-success m-3 ml-auto" href="/admin/add-product">Add Product</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Address</th>
          <th scope="col">Pincode</th>
          <th scope="col">Mobile</th>
          <th scope="col">Amount</th>
          <th scope="col">Payment</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr>
          <td>{{this.date}}</td>
          <td>{{this.deliveryDetails.address}}</td>
          <td>{{this.deliveryDetails.pincode}}</td>
          <td>{{this.deliveryDetails.mobile}}</td>
          <td>{{this.totalAmount}}</td>
          <td>{{this.paymentMethod}}</td>
          <td>{{this.status}}</td>
          <td><a href="/view-order-products/{{this._id}}" class="btn btn-primary">View products</a></td>


        </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</section>